* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    column-gap: 3rem;
}
.item {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transform: rotate(45deg);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.item-1 {
    background-color: red;
}
.item-2 {
    background-color: yellow;
}
.item-3 {
    background-color: blue;
}
@keyframes loading {
    100%{

        transform: rotate(145deg);

    }
}
@keyframes loading {
     0%{
        background-color: rgb(215, 211, 211);
     }
    50%{
        transform: scale(0.95,0.95);
        background-color: rgb(167, 166, 166);

    }
    100%{
        background-color: rgb(215, 211, 211)
    }
}