* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1px solid rgb(44, 43, 43);
}
.profile-card {
    height: 28rem;
    width: 18rem;
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1rem;
}
.main {
    margin-left: 0.7rem;
    width: 80%;
}
.name {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}
p {
    color: gray;
    font-size: 0.9rem;
}
button {
    width: 77%;
    background-color: rgb(39, 39, 39);
    color: rgb(126, 126, 126);
    border: none;
    height: 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.7rem;
}
button:hover {
    border: 1px solid rgb(106, 105, 105);
    background-color: rgb(62, 62, 62);
}