* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71%;
    height: 71%;
}
.card {
    width: 100%;
    height: 100%;
    background-color: rgb(4, 4, 215);
    color: white;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 800;
    border-radius: 0.6rem;
    border: 1px solid rgb(2, 2, 188);
    transition: transform 0.4s;
    cursor: pointer;
}

.front {
    width: 75%;
}
.back {
    display: none;

}
.main:hover .card{
    transform: rotateY(180deg);
}
.main:hover .front {
    display: none;
    
}
.main:hover .back {
    display: block;
    transform: rotateY(180deg);
}